# Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment directories
env/
venv/
.venv/

# Environment variables file
.env

# PyInstaller
*.spec
dist/
build/
*.egg-info/

# Logs and local databases
*.log
*.sqlite3

# Coverage reports
.coverage
htmlcov/

# Docker-related files
# Ignore Docker build folders, containers, etc.
docker-compose.override.yml
docker-compose.override.yaml
docker/
**/Dockerfile~
**/Dockerfile-var

# Ignore any leftover containers or images named like this
*.container
*.image

# System files
.DS_Store
Thumbs.db
